:root {
  //Colors
  --main-bg-color: #383939;
  --main-color: #5e8989;
  --secondary-color: #2c2a2a;
  --gray: #646464;
  --card-color: #454545;
  --red: #dc0505;

  //Fonts
  --main-font-family: "DM Sans", sans-serif;
  --secondary-font-family: "Poppins", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg-color);
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}

.content_container {
  width: 100%;
  max-width: 870px;
  margin: 0 auto;
  padding: 0 15px;
}

textarea:focus,
input:focus {
  outline: none;
}
